[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pywatchman = "*"

[packages]
django-taggit = "*"
waitress = "*"
dj-database-url = "*"
django-heroku = "*"
requests-html = "*"
mistune = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
